table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

td, th {
    width: 3em;
    text-align: center;
    border: none;
}

td a {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
}

td a:hover {
    color: black;
}

.mesAnterior, .mesSiguiente {
    background-color: lightgray;
}

.sesion {
    background-color: rgb(255, 155, 33);
    color: black;
}

.elegido {
    background-color: rgb(190, 161, 194);
}

.seccionCalendario {
    text-align: center;
}

