html,
body {
    position: relative;
    height: 100%;
    margin-bottom: 10%;
}

h3 {
    text-align: center;
    color: rgb(119, 109, 109);
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    background-color: rgb(99, 99, 155);
}

.admin{
    position: absolute;
    float: right;
    top: 40%;
    right: 3%;
    background: white;

}

.cabecera{
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin: auto;
    position: absolute;
    float: right;
    top: 30%;
    right: 3%;
}

ul{
    z-index: 1;
    top: 15%;
    left: 5%;
    position: absolute;
}

.boton_left {
    text-align: center;
    width: 40%;
    margin-left: 5%;
}

.boton_right {
    text-align: center;
    float: left;
    width: 40%;
}

.button_comprar{
    position: absolute;
    margin-left: 5%;
    
}

.checkout{
    margin-left: 85%;
    top: 20%;
    z-index: 1;
}

hr {
    border-color: rgb(119, 109, 109);
    width: 75%;
    border: 10px;
    box-align: center;
}


.no_selection {
    background-color: rgb(255, 155, 33);
}

.seleccion_dia {
    background-color: lightgrey;
}

.dia_marcado {
    background-color: rgb(191, 179, 211);
}

.padre_cont_body {
    height: 150px;
}

.flotante {
    float: left;
    height: 100%;
    width: 100%;
    margin-bottom: -20px;

}

.cont_body {
    clear: both;
    height: 100px;
    width: 20%;
    margin: 0 auto;
}

.cont_body_index {
    height: 100px;
    width: 35%;
    margin: 0 auto;
}

.nom_cine {
    text-align: right;
    top: 10%;
    left: 2%;
    display: block;
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin: auto;
}

.text_error {
    position: absolute;
    text-align: center;
    bottom: 30%;
    width: 100%;

}

.text_error_compradas {
    top: 50%;
}

.exito {
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
    margin: 0 auto;


}

.info_pelicula {
    margin-left: 45%;
    position: absolute;
    text-align: left;
    top: 30%;
    width: 400px;

}

.butacass {
    left: 27%;
    position: absolute;
    top: 20%;
    margin: auto;
}

.marco {
    width: 30%;
    height: 50%;
    top: 30%;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 155, 33);
    -webkit-box-shadow: 7px 6px 11px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 7px 6px 11px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 7px 6px 11px 0px rgba(0, 0, 0, 0.68);
}

.form_datos {
    height: 100px;
    width: 70%;
    margin: 10% 10% 10% 15%;
}

/* imagenes*/
.image_error {
    display: block;
    position: absolute;
    width: 20%;
    margin: 0 auto;

}

.image_error_compradas {
    display: block;
    position: absolute;
    width: 15%;
    margin: auto;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-left: 2%;
}

.logo_nom_cine {
    display: block;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 15%;

}

.imagen_pelicula {
    position: absolute;
    top: 30%;
    bottom: 30%;
    margin-left: 15%;
    height: auto;
    max-width: 25%;
    -webkit-box-shadow: 7px 6px 11px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 7px 6px 11px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 7px 6px 11px 0px rgba(0, 0, 0, 0.68);
}

.active {
    font-weight: bold;
    font-size: 1em;
    color: rgb(99, 99, 155);
}